#suggestion-bar {
  scrollbar-width: none;
}

#suggestion-bar::-webkit-scrollbar {
  display: none;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.suggestion-bar-in {
  animation: slideUp 0.2s ease-out 0s 1 normal none;
}
