.auth-loader {
  width: 32px;
  height: 20px;
  position: relative;
  border: 3px solid #fff;
  border-radius: 8px;
}
.auth-loader::before {
  content: "";
  position: absolute;
  border: 3px solid #fff;
  width: 15px;
  height: 13px;
  border-radius: 50% 50% 0 0;
  left: 50%;
  top: 0;
  transform: translate(-50%, -100%);
}
.auth-loader::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 8PX 0 #fff, -8PX 0 #fff;
  animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
  0% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 8PX 0 rgba(255, 255, 255, 0.25), -8PX 0 rgba(255, 255, 255, 1);
  }
  50% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 8PX 0 rgba(255, 255, 255, 0.25),
      -8PX 0 rgba(255, 255, 255, 0.25);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: 8PX 0 rgba(255, 255, 255, 1), -8PX 0 rgba(255, 255, 255, 0.25);
  }
}
