@keyframes messageInUser {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes messageInAi {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.message-in-user {
  animation: messageInUser 0.2s ease-out 0s 1 normal none;
}

.message-in-ai {
  animation: messageInAi 0.2s ease-out 0s 1 normal none;
}

*::-webkit-scrollbar {
  height: 5px !important;
}

pre {
  margin: 0 !important;
  margin-bottom: 1rem !important;
  max-width: 100%;
}

pre code {
  background-color: #696969 !important;
  color: white !important;
}

pre:has(code) {
  background-color: #696969 !important;
  color: white !important;
}

pre:not(:has(code)) {
  background-color: transparent !important;
}

blockquote {
  font-style: italic;
  font-size: 10px;
  margin: 1rem;
  padding: 1rem;
  border-left: 3px solid #ccc;
}


blockquote ul > li {
  line-height: 1;
  color: rgb(160, 159, 159);
}

blockquote > h6 {
  font-size: 10px;
  color: rgb(160, 159, 159);
}

h6 > strong {
  font-size: 10px;
  color: #696969 !important;
}

.tableWrap {
  max-height: 240px;
  overflow: auto;
  border: 1px solid lightgrey;
  border-radius: 6px;
}

table {
  display: block;
  overflow: auto !important;
  max-width: fit-content !important;
  max-height: fit-content !important;
  table-layout: fixed !important;
  border-collapse: collapse !important;
  table-layout: fixed;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

table thead {
  background-color: #d6d3d1  ;
}

table tbody {
  position: relative;
  width: 100%;
}

table thead tr > th {
  border: 1px solid lightgrey;
  padding: 6px 6px !important;
  color: dimgray !important;
  min-width: 120px;
}

table tbody tr > td {
  border: 1px solid lightgrey;
  padding: 2px 10px !important;
  background-color: rgb(245, 245, 245) !important;
}

.visualize-button:hover .green-icon {
  filter: invert(0.5) sepia(1) saturate(3) hue-rotate(100deg);
}

.green-icon {
  filter: invert(0);
}

ul,
ol {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

li {
  list-style-type: disc !important;
  margin-bottom: 10px;
}

ol {
  list-style-type: decimal !important;
}

p,
li,
dd,
dt {
  /* font-size: 1rem; */
  line-height: 1.5rem;
}

p {
  padding-bottom: 0.25rem;
}

dd {
  margin-left: 1.5rem;
}