.stream-section > * {
  animation: streamIn 0.2s ease-in-out forwards;
}

.stream-section > * .stream-ignore {
  animation: none !important;
}

@keyframes streamIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
