
.ProseMirror {
    border-radius: 10px;
    outline: none;
  }
  
  .items {
    position: relative;
    border-radius: 0.25rem;
    background: rgb(61, 61, 61);
    color: rgba(white, 0.8);
    overflow: hidden;
    font-size: 0.9rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .item {
    display: block;
    width: 100%;
    text-align: left;
    background: transparent;
    border: none;
    padding: 0.2rem 0.5rem;
  }
  
  .item.is-selected,
  .item:hover {
    color: #d17905;
    background: rgba(#ffcf75, 0.1);
  }