* {
  margin: 0;
  padding: 0;
}
#slider {
  /* position: relative; */
  background: linear-gradient(300deg, #0e0e0e 0%, #212121 60%, #230603 100%);
  /* min-height: 100vh; */
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bolaMov1 {
  background-color: #080808;
  opacity: 70%;
  filter: blur(100px);
  width: 480px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  bottom: 40px;
  z-index: 2;
  animation: rotar 8s infinite ease-in-out;
  transform-origin: 50% -100%;
}
.bolaMov2 {
  background-color: #251614;
  opacity: 60%;
  filter: blur(60px);
  width: 300px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: 130px;
  right: 20%;
  z-index: 3;
  animation: gradient 6s infinite;
}
.bolaMov3 {
  background-color: #5c4e4b;
  filter: blur(40px);
  width: 400px;
  height: 320px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 4;
  animation: rotar 12s infinite ease-in-out;
  transform-origin: -50% 100%;
}
.bolaMov4 {
  background-color: #292221;
  opacity: 90%;
  filter: blur(100px);
  width: 360px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  right: -30%;
  z-index: 1;
  animation: gradient 7s infinite;
}
.bolaMov5 {
  background-color: #581a0d;
  opacity: 70%;
  filter: blur(50px);
  width: 200px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
  top: 55%;
  left: 55%;
  z-index: 5;
  animation: rotar 5s infinite;
  transform-origin: -100% -120%;
}

@keyframes rotar {
  0% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
  50% {
    transform: rotate(50deg) scale(0.5);
    opacity: 0.9;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0.5;
  }
}

@keyframes gradient {
  60% {
    transform: scale(1.5) translate(-70%, -20%);
  }
}
