div.deletion-spinner {
  width: 30px;
  height: 30px;
  border: 4px solid #a9a9a9;
  border-top-color: #16a34a;
  border-radius: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
