@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.embla {
  margin: auto;
  --slide-height: 10rem;
  --slide-spacing: 1rem;
  --slide-size: 50%;
  animation: slideUp 0.4s ease-out 0s 1 normal none;
  user-select: none;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  flex: 0 0 var(--slide-size);
  padding-left: var(--slide-spacing);
  min-width: 200px;
  max-width: 240px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 12px;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  height: var(--slide-height);
  background-color: brown;
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 0.6rem;
  margin-top: 0.1rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.2rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2rem;
  height: 2rem;
  z-index: 1;
  border-radius: 50%;
  color: #D1FAE5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: #f5f5f5;
}
.embla__button__svg {
  width: 50%;
  height: 50%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem #d8d8d8;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem #16a34a;
}

.embla__progress {
  border-radius: 1.8rem;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: #f8f8f8;
  position: relative;
  height: 0.5rem;
  justify-self: flex-end;
  align-self: center;
  width: 10.0rem;
  max-width: 90%;
  overflow: hidden;
}
.embla__progress__bar {
  background-color: #D1FAE5;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}
