.typewriting > *:last-child {
  display: inline-block;
}

.typewriting > *:last-child::after {
  content: '';
  display: inline-block;
  width: 3px;
  height: 1em;
  margin-left: 4px;
  background: #646464;
  animation: blink 0.5s ease-in-out infinite;
  vertical-align: middle;
}

@keyframes blink {
  0%,
  100% {
    background: #646464;
  }
  40%,
  50% {
    background: transparent;
  }
}